.body {
  padding: 0;
  margin: 0 auto;
  max-width: 1100px;
  box-sizing: border-box;
}

.body_header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  width: 1100px;
}

.header__links-list-item:hover {
  color: #767373;
  scale: 1.01;
}

.logo_link {
  align-self: center;
}

.logo_link img {
  min-width: 148px;
  min-height: 105px;

}

.header__links-list {
  list-style: circle;
  display: flex;
  align-items: center;
  gap: 33px;
  white-space: nowrap;
  text-underline-offset: 4px;
  font-weight: 400;
  font-size: 18px;
}



.header__links-list li:first-of-type {
  list-style: none;
}

.header__links-list li:first-of-type a {
  text-decoration: none;
}

.adress {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-self: end;
}


.line {
  text-underline-offset: 4px;
}

/* конец шапки */

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 180px;
  z-index: 1;
  max-width: 1100px;
  width: 100%;

}



.title_start {
  text-align: left;
  display: block;
  padding-left: 50px;


}

.title_center {
  text-align: center;
  display: block;
  width: 339px;
  padding-left: 380.5px;
  padding-top: 20px;

}

.title_end {
  text-align: end;
  display: block;
  padding-right: 50px;
  padding-left: 664px;
  padding-top: 20px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover_description_text {
  font-size: 22px;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  word-spacing: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.description-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 106px 50px 50px;
  z-index: 1;
  position: relative;
}

.description {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.9%;
  letter-spacing: 30px;
  padding-top: 165px;
  padding-right: 50px;
}


.bet_button {
  width: 256px;
  height: 51px;
  border: 1px solid;
  background-color: transparent;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.bet_button:hover {
  scale: 1.1;
  transition-duration: 0.2s;
  background-color: #e0d9d969;
}


/* раздел с лотами */
.lots_title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  width: 121px;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots {
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 334px;
  min-height: 596px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.card:hover .text_style_title {
  transition-duration: 0.35s;
  scale: 1.02;
  color: #d7d1d1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.text_style_title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  width: 80%;
  max-width: 254px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  z-index: 1;
}

.text_style {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  width: 80%;
  max-width: 254px;
  margin: auto auto 48px;
  z-index: 1;
}


.lots ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots ul li a {
  text-decoration: none;
  display: block;
}

.more {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 192px;
  margin-left: 40px;
  display: inline-block;
}


.more:hover {
  transition-duration: 0.25s;
  color: #111111;
  scale: 1.05;
}


.aside_content {
  padding-top: 253px;
  width: 693px;
}

/* нижний сектор  */


.about {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  padding-left: 24px;
}

.image {
  background-color: black;
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 155px 72px 320px 47px;
}

.logo_white {
  width: 141.5px;
  z-index: 1;
  display: block;
  min-width: 148px;
  min-height: 114px;
}

.name_about {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about_content {
  font-weight: 400;
  font-size: 20px;
  max-width: 693px;
  margin-top: 24px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  line-height: 24px;
}




/* футер */

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 180px 50px 90px;
}

.nav_menu_footer {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  margin-right: 25px;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 240px;
  gap: 48px;
  list-style: none;
}

.social_logo_yt:hover .footer__menu-list-item {
  transition-duration: 0.35s;
  scale: 1.1;
}

.social_logo_vk:hover .footer__menu-list-item_center {
  transition-duration: 0.35s;
  scale: 1.1;
}

.social_logo_pint:hover .footer__menu-list-item_end {
  transition-duration: 0.35s;
  scale: 1.1;
}

.footer__menu-list-item,
.footer__menu-list-item_center,
.footer__menu-list-item_end {
  display: block;
  width: 48px;
  height: 48px;
}

.footer_style_link {
  list-style: none;
}

.footer_style_link:hover {
  transition-duration: 0.25s;
  color: #111111;
  scale: 1.05;
}

.footer__adress {
  max-width: 264.5px;
}

.number:hover {
  color: #767373;
  scale: 1.01;
}

.email:hover {
  color: #767373;
  scale: 1.01;
}

.nav_menu_footer li:first-of-type a {
  text-decoration: none;
}

.footer__menu-list-item {
  width: 48px
}